
/*barra de nav*/
nav {
	margin: 27px auto 0;

	position: relative;
	width: 310px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
/*botones de nav*/

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

/*Animaciones del nav*/

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
/*Animaciones del nav boton 1 */
a:nth-child(1) {
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #29e0bc;
}
/*Animaciones del nav boton 2 */
a:nth-child(2) {
	width: 110px;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e7301b;
}
/*Animaciones del nav boton 3 */
a:nth-child(3) {
	width: 100px;
}
nav .start-contact, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #1b91df;
}
/*
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
*/



/*
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
*/
body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}
h1 {
	text-align: center;
	margin: 40px 0 40px ;
	text-align: center;
	font-size: 40px;
	color: #ecf0f1;
	text-shadow: 4px 4px 4px #000000;
	font-family: 'Cherry Swash', cursive;
	background-color: rgb(68, 94, 117);
}

p3{    
    position: absolute,top;    
    text-align: center;
    color: #94ddf0;
    font-family: 'Cherry Swash',cursive;
    font-size: 20px; 
    text-shadow: 2px 2px 5px #000000;
   line-height: 20px;
   
}

p4{
    position: absolute,top;
	margin: 0 auto;    
    text-align: center;
    color: #94ddf0;
    font-family: 'Cherry Swash',cursive;
    font-size: 20px; 
    text-shadow: 2px 2px 4px #000000;
   
}

p1 {
    position: relative;
    bottom: 200px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}
footer{
	display: block;


}
/*
background-color:
width: 100%
*/
div.redes{
	position: static;
	margin: top;
	background-color: #000000;
	padding: 100px 200px 200px;
	text-align: center;
	font-family: 'Cherry Swash',cursive;
    font-size: 16px;
	bottom: 200px;

}

div.Home{
	width: 100%;
	height: 57vw;
	background:#e7301b;

}

div.About{
	width: 100%;
	height: 50vw;
	background:rgba(51, 0, 190, 0.849);

}

div.Contact {
	width: 100%;
	height: 50vw;
	background:rgb(65, 250, 136);

}
span {
    color: #2BD6B4;
}
